body {
    background-color: rgb(255, 255, 255);
}

.header-box {
    display: flex;
    justify-content: center;
    position: relative;
}

.header-box img {
    width: 100vw;
    overflow: auto;
}

nav {
    height: 40px;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, blue, rgb(115, 161, 254), rgb(191, 230, 255), rgb(237, 249, 255), rgb(191, 230, 255), rgb(115, 161, 254), blue);
    gap: 40px;
    border-bottom: solid lightgrey;
    border-top: solid lightgray;
}

nav a {
    color: #000000;
    text-decoration: none;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: normal;
    font-size: 30px;
    background: linear-gradient(to bottom, rgb(237, 249, 255), rgb(237, 249, 255));
    border: solid black;
    border-radius: 50px;
    height: 50px;
    width: 150px;
    text-align: center;
    align-content: center;
}

nav a:hover {
    font-size: 32px;
    text-shadow: 4px 4px 5px rgb(124, 124, 124);
}

.nav-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.teams {
    height: 200px;
    width: 150px;
    /*background-color: #ddc9d8;*/
}

.team-link {
    text-decoration: none;
    color: inherit;
}

.list-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.list-box-container h1 {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: bold;
    position: relative;
    /*color: rgb(8, 8, 8);*/
}

section {
    height: 200px;
    width: 150px;
    padding: 20px;
    margin: 10px;
    background: linear-gradient(to bottom, rgb(237, 249, 255), rgb(191, 230, 255), rgb(115, 161, 254), blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

section:hover {
    box-shadow: 6px 6px 10px #013cfc;
    /*transform: translateY(-2px); /* Liten extra effekt */
    transition: transform 0.3s ease;
    text-shadow: 4px 4px 5px rgb(22, 0, 159);
    font-size: 18px;
}

section img {
    width: 70%;
    height: auto;
    margin-bottom: auto; /* Mellanrum mellan bild och text */
    margin-top: inherit;
    transform: translateY(-2px);
    transition: transform 0.3s ease;
}

section:hover img {
    width: 80%;
}

section p {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: bold;
    color: #eff5fd;
    text-align: center;
    overflow-wrap: break-word;
}

.team-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    background: linear-gradient(to right, rgb(237, 249, 255), rgb(191, 230, 255));
    padding-bottom: 20px;
    border-radius: 50px;
}
.team-detail p {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #080808;
    width: 100%;
    max-width: 400px;
    text-align: left; 
}

.team-detail img {
    height: 250px;
    width: 250px;
    margin-bottom: 20px;
}

h1 {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: rgb(11, 11, 11);
}

.about-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.about-container {
    flex: 1;
    max-width: 600px;
    margin: 40px;
    background: linear-gradient(to right, rgb(237, 249, 255), rgb(191, 230, 255));
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: center;
    border-radius: 50px;
}

.about-container p {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #0a0a0a;
    width: 100%; /* Eller en fast bredd, t.ex. 500px */
    max-width: 400px; /* Begränsa bredden */
    text-align: left;
}

.profile img{
    height: auto;
    width: 250px;
    margin-right: 40px;
    border-radius: 50px;
}

ul {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #050505;
    width: 100%; /* Eller en fast bredd, t.ex. 500px */
    max-width: 400px; /* Begränsa bredden */
    text-align: left;
    margin-top: 0;
}

.teams-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 40px;
    padding-bottom: 20px;
    border-radius: 25px;
}

.teams-container h1 {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: rgb(4, 4, 4);
    text-align: center;
}

footer {
    color: #080808;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    padding-bottom: 20px;
}


