body {
    background-color: rgb(255, 255, 255);
}

header h1 {
  font-size: 30px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 12px;
  }
}

.header-box {
    display: flex;
    justify-content: space-around;  
    padding: 10px;
}

.header-box img {
  height: 100px;
  align-self: center;
  left: 20px;
  position: relative;
}

.uefa-link {
    display: block;
    width: 100vw;
    text-align: right;
}

.uefa-link a:hover {
  text-decoration: none;
  text-shadow: 4px 4px 5px rgb(115, 161, 254);
}

@media (max-width: 768px) {
  .header-box img {
    height: 50px;
    left: 2px
  }
}

.header-box a {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: bold;
    color: #042afc;
    padding: 10px;
}

nav {
    height: 80px;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid lightgrey;
    border-top: solid lightgray;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: normal;
    font-size: 30px;
    height: 50px;
    width: 150px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 25px;
}

@media (max-width: 768px) {
  nav a {
    font-size: 25px;
    height: 40px;
    width: 140px;
  }
}

@media (max-width: 480px) {
  nav a {
    font-size: 20px;
    height: 30px;
    width: 130px;
  }
}

nav a:hover {
    font-size: 32px;
    background-color: #85c6feb0;
    transition: 0.3s ease;
    text-shadow: 4px 4px 5px rgb(115, 161, 254);
}

@media (max-width: 768px) {
  nav a:hover {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  nav a:hover {
    font-size: 24px;
  }
}

.nav-container {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    background-color: #000000;
}

.team-link {
    text-decoration: none;
    color: inherit;
}

.list-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.list-box-container h1 {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: bold;
    position: relative;
}

section {
    height: 200px;
    width: 150px;
    padding: 20px;
    margin: 10px;
    background: linear-gradient(to bottom, rgb(237, 249, 255), rgb(191, 230, 255), rgb(115, 161, 254), blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

@media (max-width: 768px) {
  section {
    height: 180px;
    width: 130px;
  }
}

@media (max-width: 480px) {
  section {
    height: 160px;
    width: 110px;
  }
}

section:hover {
    box-shadow: 6px 6px 10px rgb(191, 230, 255);
    transition: transform 0.3s ease;
    text-shadow: 4px 4px 5px rgb(22, 0, 159);
    font-size: 20px;
}

section img {
    width: 70%;
    height: auto;
    margin-bottom: auto;
    margin-top: inherit;
    max-height: 100px;
    object-fit: contain;
    transform: translateY(-2px);
    transition: transform 0.3s ease;
}

section:hover img {
    transform: scale(1.15);
}

section p {
    font-family: "Zalando Sans Expanded", sans-serif;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #eff5fd;
    text-align: center;
    overflow-wrap: break-word;
}

.team-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    background: linear-gradient(to bottom, rgb(237, 249, 255), rgb(73 127 245));
    padding-bottom: 20px;
    border-radius: 50px;
}

@media (max-width: 768px) {
  .team-detail {
    padding: 20px;
  }
}  

.team-detail p {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #080808;
    width: 100%;
    max-width: 400px;
    text-align: left; 
}

.team-detail img {
    height: 250px;
    width: auto;
    margin-bottom: 20px;
}

h1 {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: rgb(11, 11, 11);
}

.about-wrapper {
    /*display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}*/

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    background: linear-gradient(to bottom, rgb(237, 249, 255), rgb(73 127 245));
    padding-bottom: 20px;
    border-radius: 50px;
}

.about-container {
    flex: 1;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: center;
    border-radius: 50px;
}

@media (max-width: 768px) {
  .about-container {
    padding: 20px;
  }
}

.about-container p {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #0a0a0a;
    width: 100%;
    max-width: 400px;
    text-align: left;
}

.profile img{
   height: 250px;
    width: auto; 
    margin-bottom: 20px; 
    border-radius: 50px;
}

@media (max-width: 768px) {
  .team-detail img, .profile img {
    height: 200px;

  }
}

@media (max-width: 480px) {
  .team-detail img, .profile img {
    height: 150px;
  }
}

ul {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #050505;
    width: 100%;
    max-width: 400px;
    text-align: left;
    margin-top: 0;
}

@media (max-width: 768px) {
  .team-detail p, .about-container p, ul {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .team-detail p, .about-container p, ul {
    font-size: 15px;
  }
}

.teams-container {
    background-color: #042afc;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 20px;
}

.teams-container h1 {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #eff5fd;
    text-align: center;
}

@media (max-width: 768px) {
.teams-container h1, h1{
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .teams-container h1, h1 {
    font-size: 20px;
  }
}

footer {
    color: #080808;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    padding-bottom: 20px;
}
