body {
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgb(227, 236, 255);
}

.header-box {
    display: flex;
    justify-content: center;
    position: relative;
}

nav {
    height: 40px;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #42629e;
    gap: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

nav a:hover {
    font-size: 28px;
    text-shadow: 4px 4px rgb(31, 31, 46);
}

.nav-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.teams {
    height: 200px;
    width: 150px;
    background-color: rgb(175, 210, 254)
}

.team-link {
    text-decoration: none;
    color: inherit;
}

.list-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

article {
    height: 150px;
    width: 100px;
    padding: 20px;
    margin: 20px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column; /* Ändrat: gör så bild och text staplas vertikalt */
    justify-content: center;
    align-items: center;
    border: solid #42629e;
    border-radius: 15%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #42629e;
    text-align: center;
    overflow-wrap: break-word;
}

article:hover {
    box-shadow: 6px 6px 10px rgb(31, 31, 46);
    transform: translateY(-2px); /* Liten extra effekt */
    transition: all 0.3s ease;
    text-shadow: 4px 4px 10px rgb(152, 161, 179);
    font-size: 18px;
}

article img {
    width: 70%;
    height: auto;
    margin-bottom: 10px; /* Mellanrum mellan bild och text */
}

article p {
    margin-bottom: 10px;
}








